
<template name="application">
  {{> header}}
  <div class="container">
    <main>
      {{> yield}}
    </main>
  </div>
</template>

<template name="header">
  <div class="header">
    <h3>{{title}}</h3>
    <div class="buttons">
      {{#each buttons}}
        {{> UI.dynamic template=this}}
      {{/each}}
    </div>
    {{> logout}}
  </div> 
</template>

<template name="logout">
  <div class="logout-header-section">
    <span class="logoutDisplay">
      {{#if isLoggedIn}} {{displayName}} -- <a id="logoutButton"> Sign Out </a> {{/if}}
    </span>
  </div>
</template>

