
<template name="browse">
  <h1>{{title}}</h1>
  {{#with activeStories}}
    {{> bucket}}
  {{/with}}
  {{#with memberStories}}
    {{> bucket}}
  {{/with}}
</template>

<template name="bucket">
  <div class="bucket">
    <h3>{{title}}</h3>
    {{#each stories}}
      {{> storyCard}} 
    {{/each}}
  </div>
</template>

<template name="storyCard"> 
  <a href="{{ pathFor 'story' id=this._id }}">{{title}}</a>
</template>

<template name="createStoryButton">
  <a class="button" href="{{ pathFor 'create' }}">+</a>
</template>

