.login-container {
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

.login-link-text {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

.login-form label{
	margin-top: 10px;
	display: block;
}

.login-form button {
	display: block;
	border: none;
	outline: none;
	background: none;
	margin: 15px auto;
}

.login-button {
	margin: 15px auto;
	display: block;
}